
@{
    ViewBag.Title = "product";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="file"] {
        display: none;
    }
    .avatar > img {
        max-width: 400px;
        max-height: 300px;
        width: 400px;
        height: 300px;
        padding-left: 24%;
        margin-left: 5%;
    }
    .table1, .avatar-container {
        display: inline-block;
        vertical-align: top; /* Đảm bảo chúng nằm trên cùng một đường đứng */
        margin-right: 20px; /* Khoảng cách giữa các div */
        width: 48%;
    }
    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/Scripts/admin/product.js"></script>

<script>
    function saveImageToAPI(formData) {
    $.ajax({
        type: 'POST',
        url: '/api/upload/img_product',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
            console.log('Upload ảnh thành công');
            window.location.href = '@Url.Action("product", "Order_product_producer")';
        },
        error: function (error) {
            console.log('Upload ảnh không thành công');
        }
    })
    }
    function addProduct() {
        var url = '/api/Order_product_producer_API/?product_id=1' 
            + '&product_name=' + $("input[name='product_name2']").val()
            + '&product_alias=' + $("input[name='product_alias2']").val()
            + '&product_description=' + $("input[name='product_description2']").val()
            + '&product_content=' + $("input[name='product_content2']").val()
            + '&product_img=' + $("input[name='product_img2']").val()
            + '&product_sub_img=' + $("input[name='product_sub_img2']").val()
            + '&state=' + $("select[name='a']").val()
            + '&product_producer=' + $("select[name='b']").val()
            + '&category_id=' + $("select[name='c']").val();
        $.ajax({
            url: url,
            method: 'Post',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {

                alert("Thêm mới không thành công");
            },
            success: function (reponse) {
                var formData = new FormData();
                var fileInput = $("#img_product2")[0].files[0];
                if (fileInput) {
                    formData.append('id_sanpham', '');
                    formData.append('image', fileInput);
                    saveImageToAPI(formData);
                }

                alert("Thêm mới thành công");
                window.location.href = '@Url.Action("product", "Order_product_producer")';


            }
        });
    }
    function editProduct() {
        var url = '/api/Order_product_producer_API/?product_id=' +
            $("input[name='product_id1']").val()
            + '&product_name=' + $("input[name='product_name1']").val()
            + '&product_alias=' + $("input[name='product_alias1']").val()
            + '&product_description=' + $("input[name='product_description1']").val()
            + '&product_content=' + $("input[name='product_content1']").val()
            + '&product_img=' + $("input[name='product_img1']").val()
            + '&product_sub_img=' + $("input[name='product_sub_img1']").val()
            + '&state=' + $("select[name='a']").val()
            + '&product_producer=' + $("select[name='b']").val()
            + '&category_id=' + $("select[name='c']").val();
        $.ajax({
            url: url,
            method: 'PUT',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                alert("Sửa không thành công ");
            },
            success: function (reponse) {
                var formData = new FormData();
                var fileInput = $("#img_product1")[0].files[0];
                if (fileInput) {
                    formData.append('id_sanpham', $("input[name='product_id1']").val());
                    formData.append('image', fileInput);
                    saveImageToAPI(formData);
                }
                alert("Sửa thành công");
                window.location.href = '@Url.Action("product", "Order_product_producer")';

            }
        });
    }
</script>

<div id="Tim" class="container">
    <div class="container" style="width:100%;">
        <h1 style="text-align:center">Bảng sản phẩm</h1>
        <button class="btn btn-info" style="float: left; margin-bottom: 20px;" onclick="HienThiAdd();">Add Product</button>
        <br>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Tên thường gọi của sản phẩm</th>
                    <th>Mô tả sản phẩm</th>
                    <th>Nội dung sản phẩm</th>
                    <th>Ảnh sản phẩm</th>
                    <th>Mô tả đường dẫn ảnh</th>
                    <th>Trạng thái</th>

                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
        <br />
        <div id="pagination-container">
            <button id="prev-btn" onclick="prevBtn()">Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next-btn" onclick="nextBtn()">Next</button>
        </div>
    </div>
</div>
<div class="container" id="Edit" style="display:none">
    <div class="table1">
        <h2 style="margin-top:0; text-align:center">Thông tin chính</h2>
        <table style="border:none">
            <tbody>
                <tr>
                    <td>product_id: </td>
                    <td>
                        <input id="product_id1" type="text" name="product_id1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>product_name: </td>
                    <td>
                        <input id="product_name1" type="text" name="product_name1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>

                <tr>
                    <td>product_alias: </td>
                    <td>
                        <input id="product_alias1" type="text" name="product_alias1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>product_description: </td>
                    <td>
                        <input id="product_description1" type="text" name="product_description1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>

                <tr>
                    <td>product_content: </td>
                    <td>
                        <input id="product_content1" type="text" name="product_content1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr style="display: none">
                    <td>product_img: </td>
                    <td>
                        <input id="product_img1" type="text" name="product_img1" style="margin-bottom: 10px; border-radius: 2px; width: 280px; " />
                    </td>
                </tr>

                <tr>
                    <td>product_sub_img: </td>
                    <td>
                        <input id="product_sub_img1" type="text" name="product_sub_img1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>state: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value1" name="a" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>producer: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value2" name="b" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>category: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value3" name="c" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="display: inline-flex; margin-left: 50%;">
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                                onclick="editProduct();">
                            Cập nhật
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="avatar-container">
        <!-- Khung hiển thị ảnh -->
        <h2 style="margin-top: 0; text-align: center">Ảnh sản phẩm</h2>
        <div class="avatar">
            <img id="avatar-preview1" src="" alt="Avatar">

        </div>
        <div class="form-group" style="text-align:center; margin-top: 0">
            <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                    onclick="document.getElementById('img_product1').click()" id="btn_image">
                Chọn ảnh
            </button>
            <input type="file" id="img_product1" accept="image/*" onclick="Getimage()">
        </div>
    </div>
</div>
<div class="container" id="Add" style="display:none">
    <div class="table1">
        <h2 style="margin-top:0; text-align:center">Thông tin chính</h2>
        <table style="border:none">
            <tbody>
                <tr style="display:none">
                    <td>product_id: </td>
                    <td>
                        <input id="product_id2" type="text" name="product_id2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>product_name: </td>
                    <td>
                        <input id="product_name2" type="text" name="product_name2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>

                <tr>
                    <td>product_alias: </td>
                    <td>
                        <input id="product_alias2" type="text" name="product_alias2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>product_description: </td>
                    <td>
                        <input id="product_description2" type="text" name="product_description2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>

                <tr>
                    <td>product_content: </td>
                    <td>
                        <input id="product_content2" type="text" name="product_content2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr style="display:none">
                    <td>product_img: </td>
                    <td>
                        <input id="product_img2" type="text" name="product_img2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>

                <tr>
                    <td>product_sub_img: </td>
                    <td>
                        <input id="product_sub_img2" type="text" name="product_sub_img2" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>state: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value4" name="x" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>producer: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value5" name="y" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>category: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value6" name="z" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="display: inline-flex; margin-left: 50%;">
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                                onclick="checkproduct();">
                            Thêm mới
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="avatar-container">
        <h2 style="margin-top: 0; text-align: center">Ảnh sản phẩm</h2>
        <div class="avatar">
            <img id="avatar-preview2" src="product_img2" alt="Avatar">

        </div>
        <div class="form-group" style="text-align:center; margin-top:0">
            <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                    onclick="document.getElementById('img_product2').click()" id="btn_image">
                Chọn ảnh
            </button>
            <input type="file" id="img_product2" accept="image/*" onclick="Getimage()">
        </div>
    </div>
</div>



