
@{
    ViewBag.Title = "productColor";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/Scripts/admin/productColor.js"></script>

@section scripts{
    <script type="text/javascript">
              function addproductcolor() {
                  var url = '/api/Order_product_producer_API/?id=' +
                      $("input[name='id']").val() + '&color_id=' + $("select[name='color_id']").val() + '&product_id=' + $("select[name='product_id']").val() + '&size=' + $("input[name='size']").val() + '&amount=' + $("input[name='amount']").val() + '&product_price=' + $("input[name='product_price']").val() + '&product_sale=' + $("input[name='product_sale']").val() + '&product_discount=' + $("input[name='product_discount']").val();
                $.ajax({
                    url: url,
                    method: 'Post',
                    contentType: 'json',
                    dataType: 'json',
                    error: function (response) {
                        alert("Thêm mới không thành công");
                    },
                    success: function (reponse) {
                        alert("Thêm mới thành công  ");
                        window.location.href = '@Url.Action("productColor", "Order_product_producer")';
                    }
                });
            }
            function editproductcolor() {
            var url = '/api/Order_product_producer_API/?id=' +
                    $("input[name='id11']").val() + '&color_id=' + $("select[name='color_id11']").val() + '&product_id=' + $("select[name='product_id11']").val() + '&size=' + $("input[name='size11']").val() + '&amount=' + $("input[name='amount11']").val() + '&product_price=' + $("input[name='product_price11']").val() + '&product_sale=' + $("input[name='product_sale11']").val() + '&product_discount=' + $("input[name='product_discount11']").val();

            $.ajax({
                url: url,
                method: 'Put',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Sửa không thành công  ");
                },
                success: function (reponse) {
                         alert("Sửa thành công");
                         window.location.href = '@Url.Action("productColor", "Order_product_producer")';
                }
            });
        }
    </script>
}
<div id="Tim" class="container">
    <div class="container" style="width:100%;">
        <h1 style="text-align:center">Table ProductColor</h1>
        <button class="btn btn-info" style="float: left; margin-bottom: 20px;" onclick="HienThiAdd();">Add ProductColor</button></a>
        <br>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Id</th>
                    <th>Color_name</th>
                    <th>Product_name</th>
                    <th>Size</th>
                    <th>Amount</th>
                    <th>product_price</th>
                    <th>product_sale</th>
                    <th>product_discount</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>
</div>
<div class="container" id="Edit" style="display:none">
    <table style="border:none">
        <tbody>
            <tr>
                <td>id: </td>
                <td>
                    <input id="id12" type="text" name="id11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>color_name: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="color_id12" name="color_id11" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>product_name: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="product_id12" name="product_id11" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>size: </td>
                <td>
                    <input id="size12" type="text" name="size11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>amount: </td>
                <td>
                    <input id="amount12" type="text" name="amount11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_price: </td>
                <td>
                    <input id="product_price12" type="text" name="product_price11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_sale: </td>
                <td>
                    <input id="product_sale12" type="text" name="product_sale11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_discount: </td>
                <td>
                    <input id="product_discount12" type="text" name="product_discount11" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td style="display: inline-flex">
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                            onclick="editproductcolor();">
                        Cập nhật
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" id="Add" style="display:none">
    <table style="border:none">
        <tbody>
            <tr>
                <td>id: </td>
                <td>
                    <input id="id2" type="text" name="id" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>color_name: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="color_id2" name="color_id" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>product_name: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="product_id2" name="product_id" onchange="GetSP(value);">
                    </select>
                </td>
            </tr>
            <tr>
                <td>size: </td>
                <td>
                    <input id="size2" type="text" name="size" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>amount: </td>
                <td>
                    <input id="amount2" type="text" name="amount" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_price: </td>
                <td>
                    <input id="product_price2" type="text" name="product_price" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_sale: </td>
                <td>
                    <input id="product_sale2" type="text" name="product_sale" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>product_discount: </td>
                <td>
                    <input id="product_discount2" type="text" name="product_discount" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td style="display: inline-flex">
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                            onclick="checkproductcolor();">
                        Thêm mới
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
