
@{
    ViewBag.Title = "UserControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="profile-container">
    <style>
        .container {
            display: flex;
        }

        .form-container {
            flex: 1;
            padding: 20px;
        }

        .avatar-container {
            flex: 1;
            padding: 20px;
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="file"] {
            display: none;
        }

        .avatar {
            position: relative;
            width: 200px;
            height: 200px;
            border: 1px dashed #ccc;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
        }

            .avatar img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
            }

        label[for="avatar-upload"] {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f8f8f8;
        }

        .profile-container {
            max-width: 100% !important;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 30px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .tab {
            overflow: hidden;
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
        }

            .tab button {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 20px;
                transition: 0.3s;
                font-size: 18px;
                border-bottom: 3px solid transparent;
                color: #777;
            }

                .tab button:hover {
                    color: #333;
                }

                .tab button.active {
                    border-bottom: 3px solid #3498db;
                    color: #3498db;
                }

        .tabcontent {
            display: none;
            padding: 20px;
        }

        /* Styles for profile info and icons */
        .profile-info {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            width: calc(100% - 20px);
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            padding: 10px 15px;
            background-color: #3498db;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 4px;
        }

            button:hover {
                background-color: #2980b9;
            }

        .saved-info {
            border: 1px solid #ddd;
            padding: 20px;
            display: none;
            border-radius: 4px;
        }

        .choose-button {
            padding: 10px 20px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

            .choose-button:hover {
                background-color: #2980b9;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        th.center {
            text-align: center
        }
    </style>
    <script>
        //Tham số mặc định
        const rowsPerPage = 5;
        let currentPage = 1;
        var total = 0;

        //Khởi tạo ban đầu
        $(document).ready(function () {
            reload(currentPage);
            openTab(event, 'EditInfo');

        });

        //Load lại trang
        function reload(currentPage) {
            var myCookieValue = getCookieValue('hawuser_id');
            displayData(currentPage, myCookieValue);
            GetByID(myCookieValue);
            document.getElementById("prev-btn").style.display = 'none';
            document.getElementById("btn_cancel").style.display = 'none';
            document.getElementById("btn_save").style.display = 'none';
        }
        //Lấy user đăng nhập
        function getCookieValue(cookieName) {
            const name = cookieName + '=';
            const decodedCookie = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookie.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return '';
        }

        //API của trang web
        ////GET
        //Lấy danh sách đơn hàng của user
        function GetAll(myCookieValue, startIndex, endIndex) {
            $.ajax({
                url: '/GetDS/' + myCookieValue,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (reponse) {
                    alert("Lỗi");
                },
                success: function (reponse) {
                    total = reponse.length;;
                    let table = '';
                    for (var i = startIndex; i < endIndex; ++i) {
                        let STT = i + 1;
                        table = table + '<tr>'
                        table = table + '<td style = "text-align: center">' + STT + '</td>';
                        table = table + '<td style="max-width : 200px">' + reponse[i].ProductList + '</td>';
                        table = table + '<td style="max-width : 80px;text-align: right;">' + reponse[i].order_total_price + '</td>';
                        table = table + '<td style="max-width : 200px">' + reponse[i].Date + '</td>';
                        table = table + '<td style="max-width : 200px">' + reponse[i].state_name + '</td>';
                        if (reponse[i].state_id == 12) {
                            table = table + '<td style="max-width : 150px" > <button type="button" class="btn btn-danger" onclick="CancelOrder(\'' + reponse[i].order_id + '\')">Hủy đơn hàng</button></td>'
                        } else {
                            table = table + '<td style="max-width : 150px">' + '</td>';
                        }
                        //Thêm nút hủy đơn nếu đơn đang chuẩn bị
                        table = table + '<tr>'

                        document.getElementById('data').innerHTML = table;
                        document.getElementById('totalItem').innerHTML = 'Tổng số bản ghi: ' + total;
                    }
                },
                fail: function (response) { }
            })
        }
        //Lấy thông tin profile
        function GetByID(myCookieValue) {
            $.ajax({
                url: '/ProfileById/' + myCookieValue,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (reponse) {
                    alert("Lỗi");
                },
                success: function (reponse) {
                    var _res = reponse;
                    $("#name").val(_res.user_name);
                    $("#email").val(_res.user_email);
                    $("#phone").val(_res.user_phone);
                    $("#address").val(_res.user_address);
                    $("#avatar-preview").attr("src", _res.avatar_img);

                },
                fail: function (response) { }
            })
        }
        ////POST
        //Lưu ảnh
        function saveImageToAPI(formData) {
            $.ajax({
                type: 'POST',
                url: '/api/upload/avatar',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Upload ảnh thành công');
                    //Load lại trang web
                    location.reload();
                    window.location.reload(true);
                    reload(currentPage);
                },
                error: function (error) {
                    alert('Upload ảnh không thành công');
                }
            })
        }
        //Lưu thông tin khi sửa proflie
        function saveProflie() {
            var formData = new FormData();
            var myCookieValue = getCookieValue('hawuser_id');
            formData.append('user_id', Number(myCookieValue));
            formData.append('user_name', $("#name").val());
            formData.append('user_email', $("#email").val());
            formData.append('user_phone', $("#phone").val());
            formData.append('user_address', $("#address").val());
            $.ajax({
                type: 'POST',
                url: '/api/upload/profile',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Cập nhật thông tin thành công');
                    $('input').prop('readonly', true);
                    document.getElementById("btn_cancel").style.display = 'none';
                    document.getElementById("btn_save").style.display = 'none';
                    document.getElementById("btn_edit").style.display = 'inline';
                    $("#btn_image").css("display", "none");
                    window.location.reload(true);
                    location.reload();
                    reload(currentPage);

                },
                error: function (error) {
                    alert('Cập nhật thông tin không thành công');
                }
            })
        }
        //Đổi mật khẩu
        function changePassWord() {
            var formData = new FormData();
            var myCookieValue = getCookieValue('hawuser_id');
            formData.append('user_id', Number(myCookieValue));
            formData.append('new_pass', $("#new_pass").val());
            $.ajax({
                type: 'POST',
                url: '/api/upload/password',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Thay đổi mật khẩu thành công, vui lòng đăng nhập lại để cập nhật sự thay đổi');
                    $("#new_pass").val('');
                    $("#confim_pass").val('');
                    $("#old_pass").val('');

                },
                error: function (error) {
                    alert('Thay đổi mật khẩu không thành công');
                }
            })
        }
        //Hủy đơn hàng
        function CancelOrder(order_id) {
            var confirmation = confirm("Bạn có chắc chắn muốn hủy đơn hàng này không?");
            if (confirmation) {
                var formData = new FormData();
                formData.append('order_id', Number(order_id));
                $.ajax({
                    type: 'POST',
                    url: '/api/upload/state_order',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('Hủy đơn hàng thành công');
                        var myCookieValue = getCookieValue('hawuser_id');
                        displayData(1, myCookieValue);
                    },
                    error: function (error) {
                        alert('Hủy đơn hàng không thành công');
                    }
                })
            } 
            
        }

        //Giao diện web
        function prevBtn() {
            var myCookieValue = getCookieValue('hawuser_id');
            if (currentPage > 1) {
                currentPage--;
                displayData(currentPage, myCookieValue);
                document.getElementById("next-btn").style.display = 'inline';
                document.getElementById("prev-btn").style.display = 'inline';
            } if (currentPage - 1 <= 0) {
                //Trang đầu ẩn nút prev
                document.getElementById("prev-btn").style.display = 'none';
            }
        }
        function nextBtn() {
            var myCookieValue = getCookieValue('hawuser_id');
            const maxPage = Math.ceil(total / rowsPerPage);
            if (currentPage < maxPage) {
                currentPage++;
                displayData(currentPage, myCookieValue);
                document.getElementById("next-btn").style.display = 'inline';
                document.getElementById("prev-btn").style.display = 'inline';
            } if (currentPage + 1 >= maxPage) {
                document.getElementById("next-btn").style.display = 'none';
            }
        }
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        function displayData(page, myCookieValue) {
            var startIndex = (page - 1) * rowsPerPage;
            var pageInfo = document.getElementById('page-info');
            var endIndex = startIndex + rowsPerPage;
            if (endIndex > total && total != 0) endIndex = total;
            GetAll(myCookieValue, startIndex, endIndex);
            pageInfo.textContent = `Page ${currentPage}`;
        }
        function btn_edit() {
            $('input').prop('readonly', false);
            $('textarea').prop('readonly', false);
            document.getElementById("btn_cancel").style.display = 'inline';
            document.getElementById("btn_save").style.display = 'inline';
            document.getElementById("btn_edit").style.display = 'none';
            $("#btn_image").css("display", "inline");
        }
        function btn_cancel() {
            $('input').prop('readonly', true);
            $('textarea').prop('readonly', true);
            document.getElementById("btn_cancel").style.display = 'none';
            document.getElementById("btn_save").style.display = 'none';
            document.getElementById("btn_edit").style.display = 'inline';
            $("#btn_image").css("display", "none");
            //Lấy lại dữ liệu cũ
            reload(currentPage);
        }
        function btn_save() {
            saveProflie();
        }
        function Getimage() {
            document.getElementById('avatar').addEventListener('change', function (e) {
                const file = e.target.files[0];
                const preview = document.getElementById('avatar-preview');
                let formData = new FormData();

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        var myCookieValue = getCookieValue('hawuser_id');
                        preview.src = e.target.result;
                        formData.append('image', file);
                        formData.append('user_id', Number(myCookieValue));
                        saveImageToAPI(formData);
                    }
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "placeholder.png"; // Ảnh mặc định nếu không chọn file
                }
            });
        }
        function btn_change() {
            if ($("#new_pass").val() == $("#confim_pass").val()) {
                if ($("#new_pass").val() != $("#old_pass").val()) {
                    var confirmation = confirm("Bạn có chắc chắn muốn đổi mật khẩu không?");
                    if (confirmation) {
                        changePassWord();
                    } 
                }
                else alert("Pass mới không được giống Pass cũ");
            }
            else alert("Pass mới phải giống xác nhận mật khẩu mới");
        }

    </script>
    <h1>Quản lý tài khoản</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'EditInfo')"><i class="fas fa-user-edit"></i> Thông tin khách hàng </button>
        <button class="tablinks" onclick="openTab(event, 'OrderHistory')"><i class="fas fa-clipboard-list"></i> Theo dõi đơn hàng </button>
        <button class="tablinks" onclick="openTab(event, 'ChangPass')"><i class="fas fa-clipboard-list"></i> Đổi mật khẩu </button>
    </div>
    <!-- Tab thông tin đặt hàng -->
    <div id="EditInfo" class="tabcontent">
        <div class="container">
            <div class="form-container">
                <h2>Thông tin khách hàng</h2>
                <form>
                    <div class="form-group">
                        <label for="name">Tên khách hàng:</label>
                        <input type="text" id="name" name="name" placeholder="Nhập tên của bạn" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Nhập email của bạn" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Nhập số điện thoại của bạn" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ giao hàng:</label>
                        <textarea id="address" name="address" placeholder="Nhập địa chỉ giao hàng của bạn" readonly=""></textarea>
                    </div>
                </form>
            </div>
            <div class="avatar-container">
                <!-- Khung hiển thị ảnh -->
                <h2>Avatar</h2>
                <div class="avatar">
                    <img id="avatar-preview" src="" alt="Avatar">
                </div>
                <div class="form-group" style="text-align:center; margin-top: 5%">
                    <button class="choose-button" onclick="document.getElementById('avatar').click()" id="btn_image" style="display:none">Chọn ảnh</button>

                    <input type="file" id="avatar" accept="image/*" onclick="Getimage()">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="choose-button" onclick="btn_edit()" id="btn_edit">Sửa thông tin</button>
            <button class="choose-button" onclick="btn_save()" id="btn_save" style="margin-right: 5%">Lưu thông tin</button>
            <button class="choose-button" onclick="btn_cancel()" id="btn_cancel" style="margin-left: 5%">Hủy</button>
        </div>

    </div>
    <!-- Tab theo dõi đơn hàng -->
    <div id="OrderHistory" class="tabcontent">
        <h2>Lịch sử đặt hàng</h2>
        <br />
        <h4 id="totalItem" style="float:right"></h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th class="center">STT</th>
                    <th class="center">Danh sách sản phẩm</th>
                    <th class="center" style="max-width : 80px !important">Tổng tiền hóa đơn</th>
                    <th class="center">Thời gian cập nhật cuối</th>
                    <th class="center" style="width : 150px !important">Tình trạng đơn hàng</th>
                    <th class="center" style="width : 150px !important">Control</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
        <br />
        <div id="pagination-container">
            <button id="prev-btn" onclick="prevBtn()">Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next-btn" onclick="nextBtn()">Next</button>
        </div>

    </div>

    <!-- Tab đổi mật khẩu -->
    <div id="ChangPass" class="tabcontent">
        <div class="form-container">
            <h2>Đổi mật khẩu</h2>
            <form>
                <div class="form-group">
                    <label for="name">Mật khẩu cũ:</label>
                    <input type="password" id="old_pass" name="old_pass" placeholder="Nhập mật khẩu cũ của bạn">
                </div>
                <div class="form-group">
                    <label for="email">Mật khẩu mới:</label>
                    <input type="password" id="new_pass" name="new_pass" placeholder="Nhập mật khẩu mới của bạn">
                </div>
                <div class="form-group">
                    <label for="phone">Xác nhận mật khẩu mới:</label>
                    <input type="password" id="confim_pass" name="confim_pass" placeholder="Xác nhận mật khẩu mới">
                </div>
            </form>
        </div>
        <div style="text-align: center;">
            <button class="choose-button" onclick="btn_change()" id="btn_change" style="margin-left: 5%">Xác nhận</button>
        </div>
    </div>
</div>
