
@{
    ViewBag.Title = "Employess";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    #Edit,#Add {
        display: flex;
    }

    table {
        flex: 1;
        padding: 20px;
    }

    .avatar-container {
        flex: 1;
        padding-left: 10%;
    }
    input[type="file"] {
        display: none;
    }

    .avatar {
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px dashed #ccc;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
    }

        .avatar img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }

    label[for="avatar-upload"] {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
@section scripts{
    <script type="text/javascript">
        const rowsPerPage = 5;
        let currentPage = 1;
        var total = 0;
        $(document).ready(function () {
            displayData(currentPage);
            document.getElementById("prev-btn").style.display = 'none';
        });
        function LaytheomaTB(admin_id) {
            $.ajax({
                url: '/getadmin/' + admin_id,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (res) {
                    alert("Lỗi mã");
                },
                success: function (res) {
                    $("#txtThietBi").val(res.admin_id),
                        $("#txtTen").val(res.admin_name),
                        $("#txtEmail").val(res.admin_email),
                        $("#txtDienThoai").val(res.admin_phone),
                        $("#txtPass").val(res.admin_password),
                        $('#value2_edit').val(res.admin_isEmployee.toString())
                },
                fail: function (response) { }
            })
        }
        function check() {
            var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            var mobile = $('#txtPhone').val();

            if ($("input[name='MaThietBi1']").val() == '') {
                alert("Vui lòng nhập mã Nhân Viên");
            } else if ($("input[name='Ten1']").val() == '') {
                alert("vui lòng nhập tên Nhân viên");
            } else if ($("input[name='Email1']").val() == '') {
                alert("vui lòng nhập email");
            } else if (mobile == '') {
                alert("vui lòng nhập sdt");
            } else if (vnf_regex.test(mobile) == false) {
                alert('Số điện thoại của bạn không đúng định dạng!');
            } else if ($("input[name='DiaChi1']").val() == '') {
                alert("vui lòng nhập Mật Khẩu");
            } else {
                AddAdmin();
            }
        }
        function GetAll(startIndex, endIndex) {
            $.ajax({
                url: '/LayTaiKhoan/',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (reponse) {
                    alert("Lỗi");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    total = reponse.length;
                    if (len <= rowsPerPage) {
                        document.getElementById("next-btn").style.display = 'none';
                        document.getElementById("prev-btn").style.display = 'none';
                    }
                    let table = '';
                    for (var i = startIndex; i < endIndex; ++i) {
                        let STT = i + 1;
                        table = table + '<tr>'
                        table = table + '<td>' + STT + '</td>';
                        table = table + '<td>' + reponse[i].admin_id + '</td>';
                        table = table + '<td style="max-width : 200px">' + reponse[i].admin_name + '</td>';
                        table = table + '<td style="max-width : 150px">' + reponse[i].admin_email + '</td>';
                        table = table + '<td style="max-width : 150px">' + reponse[i].admin_phone + '</td>';
                        table = table + '<td style="max-width : 150px">' + reponse[i].admin_password + '</td>';
                        table = table + '<td style="max-width : 150px">' + reponse[i].admin_isEmployee + '</td>';
                        table = table + '<td style="max-width : 150px" > <button type="button" class="btn btn-danger" onclick="HienThiSua(),LaytheomaTB(\'' + reponse[i].admin_id + '\')">Sửa</button> <button type="button" class="btn btn-danger" onclick="XoaContact(\'' + reponse[i].admin_id + '\')">Xóa</button></td>';
                        table = table + '<tr>'

                        document.getElementById('data').innerHTML = table;                    }
                },
                fail: function (response) { }
            })
        }
        function AddAdmin() {
            var url = '/api/Demo/?admin_id=' +
                $("input[name='MaThietBi1']").val() + '&admin_name=' + $("input[name='Ten1']").val() +
                '&admin_email=' + $("input[name='Email1']").val() + '&admin_phone=' + $("input[name='Phone1']").val() + '&admin_password=' + $("input[name='DiaChi1']").val()
                + '&admin_isEmployee=' + $("select[name='Check']").val();
            $.ajax({
                url: url,
                method: 'Post',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Thêm mới không thành công");
                },
                success: function (reponse) {
                    alert(url);
                    window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                }
            });
        }
        function SuaAdmin() {
            var url = '/api/Demo/?admin_id=' +
                $("input[name='MaThietBi']").val() + '&admin_name=' + $("input[name='Ten']").val() +
                '&admin_email=' + $("input[name='Email']").val() + '&admin_phone=' + $("input[name='DienThoai']").val() + '&admin_password=' + $("input[name='DiaChi']").val()
                + '&admin_isEmployee=' + $("select[name='MaLoai']").val();
            $.ajax({
                url: url,
                method: 'PUT',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Sửa không thành công  ");
                },
                success: function (reponse) {
                    alert(url);
                    window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                }
            });
        }
        function HienThiSua() {
            document.getElementById("Edit").style.display = 'inline';
            document.getElementById("Tim").style.display = 'none';
            document.getElementById("Add").style.display = 'none';
        }
        function HienThiAdd() {
            document.getElementById("Edit").style.display = 'none';
            document.getElementById("Tim").style.display = 'none';
            document.getElementById("Add").style.display = 'inline';
        }
        function HienThi() {
            document.getElementById("Edit").style.display = 'none';
            document.getElementById("Tim").style.display = 'inline';
            document.getElementById("Add").style.display = 'none';
        }
        function XoaContact(admin_id) {
            var url = '/deleteemployee/' + admin_id
            $.ajax({
                url: url,
                method: 'DELETE',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    let choice = confirm("Bạn có muốn xóa không");
                    if (choice == true) {
                        alert("Xóa thành công");
                         window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                    }
                    else {

                    }

                }
            });
        }

        function saveImageToAPI(formData) {
            $.ajax({
                type: 'POST',
                url: '/api/upload/avatar',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Upload ảnh thành công');
                    //Load lại trang web
                    location.reload();
                    window.location.reload(true);
                    reload(currentPage);
                },
                error: function (error) {
                    alert('Upload ảnh không thành công');
                }
            })
        }
        function getCookieValue(cookieName) {
            const name = cookieName + '=';
            const decodedCookie = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookie.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return '';
        }
        function Getimage() {
            document.getElementById('avatar').addEventListener('change', function (e) {
                const file = e.target.files[0];
                const preview = document.getElementById('avatar-preview');
                let formData = new FormData();

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        var myCookieValue = getCookieValue('Employee');
                        preview.src = e.target.result;
                        formData.append('image', file);
                        formData.append('user_id', Number(myCookieValue));
                        saveImageToAPI(formData);
                    }
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "placeholder.png"; // Ảnh mặc định nếu không chọn file
                }
            });
        }
        function displayData(page) {
            var startIndex = (page - 1) * rowsPerPage;
            var pageInfo = document.getElementById('page-info');
            var endIndex = startIndex + rowsPerPage;
            if (endIndex > total && total != 0) endIndex = total;
            GetAll(startIndex, endIndex);
            pageInfo.textContent = `Page ${currentPage}`;
        }
        function prevBtn() {
            if (currentPage > 1) {
                currentPage--;
                displayData(currentPage);
                document.getElementById("next-btn").style.display = 'inline';
                document.getElementById("prev-btn").style.display = 'inline';
            } if (currentPage - 1 <= 0) {
                //Trang đầu ẩn nút prev
                document.getElementById("prev-btn").style.display = 'none';
            }
        }
        function nextBtn() {
            const maxPage = Math.ceil(total / rowsPerPage);
            if (currentPage < maxPage) {
                currentPage++;
                displayData(currentPage);
                document.getElementById("next-btn").style.display = 'inline';
                document.getElementById("prev-btn").style.display = 'inline';
            } if (currentPage + 1 > maxPage) {
                document.getElementById("next-btn").style.display = 'none';
            }
        }
    </script>
}
<div id="Tim" class="container">
    <div class="container" style="width:100%;">
        <h1 style="text-align:center">Bảng Nhân Viên</h1>
        <button class="btn btn-info" style="float: left; margin-bottom: 20px;" onclick="HienThiAdd();">Thêm Nhân Viên</button></a>
        <br>
        <table class="table table-bordered" style="width:100%;">

            <thead>
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>Tên Nhân Viên </th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Password</th>
                    <th>isEmployee</th>
                    <th>Tùy Chọn</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
        <br />
        <div id="pagination-container">
            <button id="prev-btn" onclick="prevBtn()">Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next-btn" onclick="nextBtn()">Next</button>
        </div>
    </div>
</div>
<div class="container" id="Edit" style="display:none">
    <div style="display: inline-block; vertical-align: top;">
        <h2 style="text-align: center">Thông tin người dùng</h2>
        <table style="border: none; ">
            <tbody>
                <tr>
                    <td>ID: </td>
                    <td>
                        <input id="txtThietBi" type="text" name="MaThietBi" style="margin-bottom: 10px; border-radius: 2px; width: 280px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Tên: </td>
                    <td>
                        <input id="txtTen" type="text" name="Ten" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>
                        <input id="txtEmail" type="text" name="Email" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Điện thoại: </td>
                    <td>
                        <input id="txtDienThoai" type="text" name="DienThoai" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>
                        <input id="txtPass" type="text" name="DiaChi" class="form-control" style="margin-bottom: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>isEmployee: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value2_edit" name="MaLoai">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td style="display: inline-flex">
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                                onclick="SuaAdmin();">
                            Cập nhật
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <!--<div class="avatar-container" style="display: inline-block; vertical-align: top; text-align: center">-->
        <!-- Khung hiển thị ảnh -->
        <!--<h2>Avatar</h2>
        <div class="avatar">
            <img id="avatar-preview" src="" alt="Avatar">
        </div>
        <div class="form-group" style="text-align:center; margin-top: 5%">
            <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="document.getElementById('avatar').click()" id="btn_image">Chọn ảnh</button>
            <input type="file" id="avatar" accept="image/*" onclick="Getimage()">
        </div>
    </div>-->

</div>
<div class="container" id="Add" style="display:none">
    <table style="border:none">
        <tbody>
            <tr>
                <td>ID: </td>
                <td>
                    <input id="txtThietBi" type="text" name="MaThietBi1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Tên: </td>
                <td>
                    <input id="txtTen" type="text" name="Ten1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>
                    <input id="txtEmail" type="text" name="Email1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Điện thoại: </td>
                <td>
                    <input id="txtPhone" type="text" name="Phone1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input id="txtDiaChi" type="text" name="DiaChi1" class="form-control" style="margin-bottom: 10px;">
                </td>
            </tr>
            <tr>
                <td>isEmployee: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value2" name="Check">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="display: inline-flex">
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                            onclick="check();">
                        Thêm mới
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

