
@{
    ViewBag.Title = "Employess";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    h2{
        margin-top:0;
    }
    #Edit,#Add {
        display: flex;
    }

    table {
        flex: 1;
        padding: 20px;
    }

    .avatar-container {
        flex: 1;
        padding-left: 10%;
    }
    input[type="file"] {
        display: none;
    }

    .avatar {
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px dashed #ccc;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
    }

        .avatar img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }

    label[for="avatar-upload"] {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<script src="~/Scripts/admin/employess.js"></script>
@section scripts{
    <script type="text/javascript">
        function AddAdmin() {
            if (check()) {
                var url = '/api/Demo/?admin_id=1' + '&admin_name=' + $("input[name='Ten1']").val()
                + '&admin_email=' + $("input[name='Email1']").val() + '&admin_phone=' + $("input[name='Phone1']").val() + '&admin_password=' + $("input[name='DiaChi1']").val()
                + '&admin_isEmployee=' + $("select[name='Check']").val();
                $.ajax({
                    url: url,
                    method: 'Post',
                    contentType: 'json',
                    dataType: 'json',
                    error: function (response) {
                        alert("Thêm mới không thành công");
                    },
                    success: function (reponse) {
                        alert("Thêm mới thành công, chuyển về màn hình danh sách");
                        window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                    }
                });
            }

        }
        function SuaAdmin() {
            if (check()) {
                var url = '/api/Demo/?admin_id=' +
                $("input[name='MaThietBi']").val() + '&admin_name=' + $("input[name='Ten']").val() +
                '&admin_email=' + $("input[name='Email']").val() + '&admin_phone=' + $("input[name='DienThoai']").val() + '&admin_password=' + $("input[name='DiaChi']").val()
                + '&admin_isEmployee=' + $("select[name='MaLoai']").val();
                $.ajax({
                    url: url,
                    method: 'PUT',
                    contentType: 'json',
                    dataType: 'json',
                    error: function (response) {
                        alert("Sửa không thành công");
                    },
                    success: function (reponse) {
                        alert("Cập nhật thành công, chuyển về màn hình danh sách");
                        window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                    }
                });
            }
        }
        function XoaContact(admin_id) {
            var url = '/deleteemployee/' + admin_id
            $.ajax({
                url: url,
                method: 'DELETE',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Không");
                },
                success: function (reponse) {
                    let choice = confirm("Bạn có muốn xóa không");
                    if (choice == true) {
                        alert("Xóa thành công");
                         window.location.href = '@Url.Action("Employess", "Employee_Category_User")';
                    }
                }
            });
        }
    </script>
}
<div id="Tim" class="container">
    <div class="container" style="width:100%;">
        <h1 style="text-align:center">Bảng Nhân Viên</h1>
        <button class="btn btn-info" style="float: left; margin-bottom: 20px;" onclick="HienThiAdd();">Thêm Nhân Viên</button></a>
        <br>
        <table class="table table-bordered" style="width:100%;">

            <thead>
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>Tên Nhân Viên </th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Password</th>
                    <th>Là nhân viên</th>
                    <th>Tùy Chọn</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
        <br />
        <div id="pagination-container">
            <button id="prev-btn" onclick="prevBtn()">Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next-btn" onclick="nextBtn()">Next</button>
        </div>
    </div>
</div>
<div class="container" id="Edit" style="display:none">
    <div style="display: inline-block; vertical-align: top;">
        <h2 style="text-align: center">Thông tin người dùng</h2>
        <table style="border: none; ">
            <tbody>
                <tr>
                    <td>ID: </td>
                    <td>
                        <input id="txtThietBi" type="text" name="MaThietBi" style="margin-bottom: 10px; border-radius: 2px; width: 280px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Tên: </td>
                    <td>
                        <input id="txtTen" type="text" name="Ten" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>
                        <input id="txtEmail" type="text" name="Email" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Điện thoại: </td>
                    <td>
                        <input id="txtDienThoai" type="text" name="DienThoai" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>
                        <input id="txtPass" type="text" name="DiaChi" class="form-control" style="margin-bottom: 10px;">
                    </td>
                </tr>
                <tr>
                    <td>isEmployee: </td>
                    <td>
                        <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value2_edit" name="MaLoai">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td style="display: inline-flex">
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                        <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                                onclick="SuaAdmin(0);">
                            Cập nhật
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" id="Add" style="display:none">
    <table style="border:none">
        <tbody>
            <tr style="display:none">
                <td>ID: </td>
                <td>
                    <input id="txtThietBi" type="text" name="MaThietBi1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Tên: </td>
                <td>
                    <input id="txtTen" type="text" name="Ten1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>
                    <input id="txtEmail1" type="text" name="Email1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Điện thoại: </td>
                <td>
                    <input id="txtPhone" type="text" name="Phone1" style="margin-bottom: 10px; border-radius: 2px; width: 280px" />
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input id="txtDiaChi" type="text" name="DiaChi1" class="form-control" style="margin-bottom: 10px;">
                </td>
            </tr>
            <tr>
                <td>isEmployee: </td>
                <td>
                    <select style="margin-bottom: 10px; border-radius: 2px; width: 280px" id="value2" name="Check">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="display: inline-flex">
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px; margin-right: 10px" onclick="HienThi()">Quay lại</button>
                    <button class="btn-primary update-button" style="width: 150px; height:40px; border: none; outline: none; border-radius: 20px; margin-top: 20px;"
                            onclick="AddAdmin(1);">
                        Thêm mới
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

