
@{
    ViewBag.Title = "User";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    h3{
        margin-top: 0px !important;
    }
    #TTKH>img {
        max-width: 400px;
        max-height: 300px;
        width: 400px;
        height: 300px;
        padding-left: 24%;
        margin-left: 5%;
    }
</style>
<script src="~/Scripts/admin/user.js"></script>

<div id="0">
    <h1 style="text-align:center;margin-bottom:0px">Bảng Khách Hàng</h1>
    <br>
    <h4 id="totalItem" style="float:right"></h4>
    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên người dùng</th>
                <th>Email(Tên đăng nhập)</th>
                <th>Điện thoại</th>
                <th>Địa chỉ</th>
                <th>Password</th>
                <th>Thời gian tạo</th>
                <th>Trạng thái</th>
                <th>Câu hỏi bảo mật</th>
                <th>Câu trả lời</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
    <br />
    <div id="pagination-container">
        <button id="prev-btn" onclick="prevBtn()">Prev</button>
        <span id="page-info">Page 1</span>
        <button id="next-btn" onclick="nextBtn()">Next</button>
    </div>
</div>
<div class="content-wrapper content" style="padding-top:0px;display:none" id="1">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 tittelKH">
                @*Thông tin khách hàng+Hóa đơn khách hàng đó đã mua*@
                <h3><b>Thông tin khách hàng</b></h3>
                <br />
                <div class="row Contact" style="display: flex;float:none">
                    <div class="col-sm-2">
                        <p>Mã khách hàng: </p>
                        <p>Tên khách hàng: </p>
                        <p>Số điện thoại: </p>
                        <p>Địa chỉ: </p>
                        <p>Email: </p>
                        <p>Thời gian tạo: </p>
                        <p>Trạng thái: </p>
                        <p>Tổng số lần mua hàng: </p>

                    </div>
                    <div class="col-sm-2" id="TTKH" style="float:none">

                    </div>
                    <div class="col-sm-4" id="TTKH" style="float:none">
                        <img id="avatar-preview1" src="" alt="Avatar">
                    </div>
                </div>
                <div class="row mb-2 tittelKH">
                    <div class="col-sm-6 tittel">
                        <h4 class="m-0 text-dark"><b>Lịch sử mua hàng</b></h4>
                    </div>
                </div>
                <div class="Table_wrapper">
                    <div id="3">
                        <table class="table table-hover">
                            <thead class="header">
                                <tr>
                                    <th scope="col">Mã hóa đơn</th>
                                    <th scope="col">Chú Thích</th>
                                    <th scope="col">Ngày lập</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tùy chỉnh</th>
                                </tr>
                            </thead>
                            <tbody id="listDH">
                            </tbody>
                        </table>
                        <div id="2" style="display:none">
                            <div class="row mb-2 tittelKH">
                                <div class="col-sm-6 tittel">
                                    <h4 class="m-0 text-dark"><b>Chi Tiết Đơn Hàng</b></h4>
                                </div>
                            </div>
                            <div class="Table_wrapper">
                                <table class="table table-hover">
                                    <thead class="header">
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Số Hóa Đơn</th>
                                            <th scope="col">Tên tranh</th>
                                            <th scope="col">Ảnh</th>
                                            <th scope="col">Giá Bán</th>
                                            <th scope="col">Số Lượng</th>
                                            <th scope="col">Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody id="CTDH">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row back">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("User")" class="btnPro">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
